<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Poshak Biosciences</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-light">
    <div class="container-fluid bg-light text-center">
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
            <a class="navbar-brand float-left text-left" href="http://www.poshakbiosciences.com/">
                <img src="~/Images/log2.png" alt="logo" style="width: 290px; height: 65px;" />
            </a>
            <button class="navbar-toggler float-right text-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse float-right text-right" id="navbarText">
                <ul class="navbar-nav mr-auto float-right text-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="~/Home/Index" style="color: red; margin-right: 20px;"><b id="nvr1">HOME</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/About" style="color: black; margin-right: 20px;"><b id="nvr2">ABOUT</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Product" style="color: black; margin-right: 20px;"><b id="nvr3">PRODUCTS</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Contact" style="color: black; margin-right: 20px;"><b id="nvr4">CONTACT</b></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <hr>
    <div class="container body-content">
        @RenderBody()
    </div> 
    <hr />
    <div>
        <div class="row" id="foot">
            <div class="col-8 text-center  p-3">
                <p style="color: white; margin-top: 10px;">
                    &copy; @DateTime.Now.Year - @DateTime.Now.AddYears(5).Year All Right Reserved by Poshak Biosciences. 
                    Developed by <a href="http://codelovertechnology.com/" target="_blank">CodeLover Technology</a>
                </p>
            </div>
            <div class="col-4 p-3">
                <i class="fa fa-facebook" aria-hidden="true" style="margin-top: 10px; margin-left: 185px; font-size: 1.3em; color: white;"></i>
                <i class="fa fa-linkedin" aria-hidden="true" style="margin-top: 10px; margin-left: 15px; font-size: 1.3em; color: white;"></i>
                <i class="fa fa-twitter" aria-hidden="true" style="margin-top: 10px; margin-left: 15px; font-size: 1.3em; color: white;"></i>
                <i class="fa fa-instagram" aria-hidden="true" style="margin-top: 10px; margin-left: 15px; font-size: 1.3em; color: white;"></i>
             </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
