<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Poshak Biosciences</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm justify-content-end">
            <a class="navbar-brand" href="http://www.poshakbiosciences.com/">
                <img src="~/Images/log2.png" alt="logo" style="width: 290px; height: 65px; margin-right: 595px;" />
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Index" style="color: red; margin-right: 20px;">
                        <span class="fa fa-home fa-2x"></span>
                        @*<b id="nvr1">HOME</b>*@
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Admin/Index" style="color: red; margin-right: 20px;"><b id="nvr1">Admin Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/About" style="color: black; margin-right: 20px;"><b id="nvr2">ABOUT</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Product" style="color: black; margin-right: 20px;"><b id="nvr3">PRODUCTS</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Contact" style="color: black;"><b id="nvr4">CONTACT</b></a>
                </li>
            </ul>
        </nav>
    </div>
    <hr>
    <div class="container body-content">
        @RenderBody()
    </div> 
    <hr />
    <div>
        <div class="row" id="foot">
            <div class="col-sm-4 text-center">
                <p style="color: white; margin-top: 10px;">
                    &copy; @DateTime.Now.Year - @DateTime.Now.AddYears(5).Year All Right Reserved by Poshak Biosciences.
                    Developed by CodeLover Technology
                </p>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <i class="fa fa-facebook" aria-hidden="true" style="margin-top: 30px; margin-left: 185px; font-size: 1.3em; color: white;"></i>
                <i class="fa fa-linkedin" aria-hidden="true" style="margin-top: 30px; margin-left: 15px; font-size: 1.3em; color: white;"></i>
                <i class="fa fa-twitter" aria-hidden="true" style="margin-top: 30px; margin-left: 15px; font-size: 1.3em; color: white;"></i>
                <i class="fa fa-pinterest" aria-hidden="true" style="margin-top: 30px; margin-left: 15px; font-size: 1.3em; color: white;"></i>
                <i class="fa fa-google-plus" aria-hidden="true" style="margin-top: 30px; margin-left: 15px; font-size: 1.3em; color: white;"></i>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
